<header>
	     <center>
            <h1>IDEAS DE NUESTROS PROYECTOS</h1>
	    </center>
</header>
<section >
            <p>Aquí esta cada una de las propuestas de cada compañero del grupo: </p>
            <article>
                <dl>
                    <dt><a href="/libros">Libros de Matematicas electronicos</a></dt>
                    <dd>Para descargar <em>libros y solucionarios rápido,</em> sin encontrar links dañados, ni esperas por descargas.</dd>
                    
                    <dt><a href="/photoalbum">Photoalbum</a></dt>
                    <dd>Tomar fotos y <em>crear albumes</em> en un mismo sitio facilmente sin muchas pasos.</dd>
                    
                    <dt><a href="/song">Song</a></dt>
                    <dd>Descargar la <em>musica y las letras<em> de las canciones mientras las escucho.</dd>
                </dl>
            </article>
        </section>

	<aside>
            <p>Nuestro grupo se llama <em><strong>GreatDay</em></strong>, los miembros somos:</p>


            <ul>
                <li>Jeffrey Galo</li>
                <li>Helen Flores</li>
                <li>Karen Martinez</li>
            </ul>
        </aside>
        <center>
        <img src="http://krazykk.files.wordpress.com/2008/04/smiley20face20have20a20great20day.jpg"></img>
	</center>
