<!DOCTYPE html> 
<html lang="es"> 
    <head>
        <meta charset="utf-8" /> 
        <title><%= @title %></title>
        <link rel="stylesheet" type="text/css" href="/base.css"/>
    </head>
    <body> 
        <%= yield %>
    </body>
</html>
