	<center>
	<h1>Libros de Matemáticas de Ingeniería</h1>
        </center>
	<h2>Objetivo</h2>
        <p>Poder <em>buscar libros de matemáticas</em> usados en nuestra universidad rápidamente, sin tener que buscarlos 
	en varias paginas y perder tiempo en la búsqueda.</p>
	
	<h2>El problema</h2>
        <p>Las soluciones que existen ahora no toman en cuenta los autores ni las ediciones que se utilizan en nuestra universidad, además muchos de mis 		enemigos utilizan links dañados y demasiados anexos para realizar la descarga.
	</p>

	<h2>La solución</h2>
        <p>
            Automatizar el proceso de búsqueda de un libro de matemáticas utilizado en UNITEC. Incluir sus respectivos solucionarios en la mayoría de los  		    libros para que el alumno verifique procedimientos y respuestas, además crear un pequeño foro donde las personas que la visiten puedan hacer 		    sugerencias acerca de nuevos libro u otra información.
        </p>

        <h2>Con los que compito</h2>
        <dl>
            <dt><a href="http://www.google.hn/#hl=es&biw=1280&bih=573&tbs=bks%3A1&q=libros+de+matematicas 
            +universitaria&aq=f&aqi=&aql=&oq=&gs_rfai=&fp=3da4f9b08c2834f0">Google libros </a></dt>
            <dd>Tiene bastantes libros pero la mayoría son viejos y desconocidos en nuestra educación universitaria.</dd>
            
            <dt><a href="http://new.taringa.net/posts/ebooks-tutoriales/1618710/Matematica-basica-y-universitaria-_libros-completos_.html">Taringa libros
            </a></dt>
            <dd>Los links están dañados y muy pocos libros sin solucionario</dd>

            <dt><a href="http://soludelibros.blogspot.com/2008/01/solucionarios-matemtica.html">Solucionario de libros universitarios gratis</a>(<em>Mi 		    enemigo principal</em>)</dt>
            <dd>En esta pagina hay disponibles una variedad solucionarios, pero no están sus respectivos libros para descargar.</dd>
        </dl>

       <h2>Retos técnicos</h2>
        <ol>
            <li>Crear un foro para consultas</li>
            <li>Crear un cuadro de búsqueda para optimizar el proceso</li>
            <li>Identificación de usuarios</li>
        </ol>
	<center>
        <img src="http://www.tecnocosas.es/images/librofilia_libros_en_red-1.jpg"></img>
	</center>
