	<center>
        <h1>PhotoAlbum</h1>
	</center>

        <h2>Lo mejor</h2>
        <p>Poder tomar <em>fotos</em> instantaneas desde un sitio web y crear un album en ese mismo sitio, sin muchas aplicaciones y sin muchos pasos, 		   fácil.</p>

        <h2><em>El problema</em></h2>
        <p>
            Hay muchos sitios donde guardar las fotos jalándolas desde algún lugar de mi escritorio, pero no puedo tomar instantáneas desde un sitio web.

        <h2><em>La solución</em></h2>
        <p> Sincronizar el controlador de la cámara de una computadora común, tomar la foto y guardarla en un album predeterminado. Luego el usuario 		    decide que hacer con la foto, si la mueve a otro album, comparte el URL o si la envia por mail.
        </p>

        <h2><em>Los lamers con los que compito</em></h2>
        <dl>
            <dt><a href="http://www.yogile.com/">Yogile </a></dt>
            <dd>Guarda fotos en albumes, pero solo secciona entre las que ya estan en el escritorio.</dd>
            
            <dt><a href=http://www.fotolog.com/">Fotolog</a></dt>
            <dd>Igual que el anterior crea albumes solo de fotos existentes en una carpeta en el escritorio y no tiene opciones para tomarlas 			instantaneas</dd>
        </dl>
       
	<h2><em>Retos técnicos</em></h2>
        <ol>
            <li>Establecer el controlador de una cámara</li>
            <li>Tomar una foto desde un dispositivo externo y subirlo al sitio</li>
            <li>Autoguardado y calidad de imágen</li>
            <li>Espacio de almacenamiento</li>
        </ol>
