	<center> 
	<h1>SONG</h1>
	</center>

        <h2><i>El PROBLEMA : </i></h2>
	<p>
            Las soluciones que hay ahora no toman en cuenta la urgencia: quiero descargar la musica que estoy escuchando y las letras de la misma
        </a>
        </p>
        
        <h2><i>LA SOLUCION :</i></h2>
	<p>
            Automatizar el proceso de busqueda permitiendo  descargar musica y letras de varias fuentes 
            </p>

        <h2><i>Los lamers con los que compito : </i></h2>
        <dl>
            <dt><a href="http://www.tinysong.com">tinysong </a>(<em>Mi enemigo principal</em>)</dt>
            <dd>Es rápido para buscar.</dd>
	<p>
            <dt><a href="http://es.dilandau.com/">DILANDAU</a></dt>
            <dd>Este es genial, es fácil de usar, pero no busca la letra de las canciones</dd>
        </dl>
    
        <h2><i>RETOS técnicos :</i></h2>
        <ol>
            <li>optimizar la busqueda</li>
            <li>mejorar el proceso de descarga y presentacion de la aplicacion</li>
            <li>Identificación de usuarios</li>
            
        </ol>

