body{
    background-color: orange;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto;
    width: 900px;

}
header, footer{
    background-color: yellow;
    color: gray;
    border-radius: 5px;
}

a:visited {
  color: black;
}

