<h1>All Photos</h1>

<ul>
	<% @photos.each do |photo| %>
	<ol><%= link_to image_tag(photo.image.url(:thumb)),photo %>
		<p><%=photo.description%></p>
	</ol>
	<% end %>
</ul>
<p>
	<%= link_to "Take a new picture", new_photo_path %>
</p>
