<h1>All Photos</h1>

<ul>
	<%[current_user, @photos].each do |photo| %>
	<ol><%= link_to image_tag(@photos.image.url(:thumb)),photo=>:user_id%>
		<p><%=@photos.description%></p>
	</ol>
	<% end %>
</ul>
<p>
	<%= link_to "Take a new picture", new_user_photo_path(current_user) %>
</p>
